{{#each this}}
<li class="img__list-item">
<div class="photo-card">
  <img src={{this.webformatURL}} alt="" width="450" height="300"/>

  <div class="stats">
      <i class="material-icons">thumb_up</i>
    <p class="stats-item">
      {{this.likes}}
    </p>
      <i class="material-icons">visibility</i>
    <p class="stats-item">
      {{this.views}}
    </p>
      <i class="material-icons">comment</i>
    <p class="stats-item">
     {{this.comments}}
    </p>
      <i class="material-icons">cloud_download</i>
    <p class="stats-item">
      {{this.downloads}}
    </p>
  </div>
</div>
</li>
{{/each}}